.form-registro{
	max-width: 350px;
	padding: 15px;
	margin: auto;
}
.form-registro .btn{
	margin-top: 10px;
}
.boton{
	margin: auto;
	width: 350px;
	height: 150px;
	background-color: #0000FF;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    text-align: center;
}